@import bootstrap-sprockets
@import bootstrap
@import instructions
@import url(//meyerweb.com/eric/tools/css/reset/reset.css)
@import bootstrap-sprockets
@import bootstrap

$dark-blue-color: #2C3E50
$attention-color-text: #E74C3C
$common-btn-radius: 21px
$common-link-color: #9D9D9C
$main-enter-registration-container-color: #3498DB
$border-radius: 5px

html
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

body
  min-width: 960px

.enter-registration-header
  width: 100%
  height: 600px
  background-image: url('header-background.jpg')

.text-important
  color: $attention-color-text

.header-logo-container
  padding-top: 70px
  padding-bottom: 60px

.logo-with-text
  width: 150px

.common-button-large
  color: white
  text-transform: uppercase
  font-size: 15px
  text-decoration: none
  display: inline-block
  padding: 10px 20px
  margin-top: 20px
  background-color: $attention-color-text
  border-radius: $common-btn-radius
  &:hover
    color: white
    text-decoration: none

.common-button
  color: white
  text-transform: uppercase
  font-size: 12px
  text-decoration: none
  display: inline-block
  padding: 10px 20px
  background-color: $attention-color-text
  border-radius: $common-btn-radius
  &:hover
    color: white
    text-decoration: none

.navigation-user-actions
  .common-link
    margin-right: 20px

.attention-text
  color: white
  font-size: 36px

.quick-start-block
  letter-spacing: 0.5px
  line-height: 1.2
  margin: 0 auto
  width: 60%
  text-align: center

.navigation-pane
  box-sizing: border-box
  background-color: $dark-blue-color
  display: block
  height: 75px
  padding: 0 5% 0 10%
  font-size: 0

.nav-links
  display: inline-block
  margin: 0 auto
  line-height: 75px
  li
    display: inline-block
    margin-right: 45px

.common-link
  color: $common-link-color
  font-size: 14px
  text-transform: uppercase

.common-link-active
  color: white

.navigation-user-actions
  display: inline-block
  width: 25%
  text-align: right
  font-size: 14px

.navigation-left-wrapper
  width: 75%
  display: inline-block
  height: inherit

.small-logo-with-text
  padding: 0

.navigation-logo
  display: inline-block
  vertical-align: middle
  background: url('small-opacity-logo-with-text.png') no-repeat center 8px
  background-size: 100%
  height: inherit
  width: 100px
  margin-right: 50px

.enter-registration-forms-container
  background-color: $main-enter-registration-container-color
  width: 100%
  padding: 150px 0

.form-container
  margin: 0 auto
  width: 320px
  display: block

.form-box
  border-radius: $border-radius
  background-color: white

.form-box-wrapper
  margin: 0 auto
  width: 80%

.form-title
  padding: 30px 0
  font-size: 16px
  text-align: center
  margin: 0

.form-control
  height: 43px
