.statistic-table
  margin: 0 auto
  width: 75%
  background-color: #fff
  border-radius: 5px

  .statistic-table-data
    border-bottom: 37px solid white
    border-top: 37px solid white

  th
    font-weight: 600


.statistic-table-title
  font-size: 24px
  border-radius: 5px 5px 0 0
  background-color: #2C3E50
  color: #fff
  padding: 24px 0px

